<div id="login-v2" layout="row" layout-align="start">
    <div id="login-v2-intro" flex hide show-gt-sm>
        <div class="title">
            <img src="app/images/logo.png" />
        </div>
        <div class="description">
            Sistema de nutrição
        </div>
    </div>

    <div id="login-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-v2-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>F</span>
            </div>

            <div class="title">Login</div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="usuario" ng-model="ctrl.formLogin.usuario" placeholder="Usuário" required>
                    <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="LOGIN_V2.ERRORS.EMAIL_REQUIRED">REQUIRED</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="ctrl.formLogin.senha" placeholder="Senha" required>
                    <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" role="alert">
                        <div ng-message="required">
                            <span translate="LOGIN_V2.ERRORS.PASSWORD_REQUIRED">REQUIRED</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-sm="column"
                     layout-align="space-between center">
                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color center">Esqueci minha senha</a>
                </div>

                <md-button type="submit" ng-click="logar(user)" class="md-raised md-accent" aria-label="LOG IN" ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    Login
                </md-button>
            </form>
        </div>
    </div>
</div>
