.logo-camisas {
    height: 204px;
    width: auto;
    margin: auto;
    display: block;
}

.logo-garrafas {
    height: 310px;
    width: auto;
    margin: auto;
    display: block;
}

.info-encontro {
    text-align: justify !important;
    font-size: large;
    color: #fff;
}
