page-perfil {

}

.perfil{
  background-color: green;
  border-radius: 24px;
  color: white;
}

.medidas{
  color: black;
  text-align: center;
  background-color: #fafafa;
  border-radius: 15px 15px 0 0;
}

.circunferencia{
  color: black;
  text-align: center;
  background-color: #fafafa;
  border-radius: 15px 15px 0 0;
  margin-top: 15px;
}

.dobras{
  color: black;
  text-align: center;
  background-color: #fafafa;
  border-radius: 15px 15px 0 0;
  margin-top: 15px;
}

.ultimoItem{
  border-radius: 0 0 15px 15px;
}
