$font-path: "../assets/fonts";

@import "ionic.globals";
// Shared Variables
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
$colors: (
  primary:    #d52f39,
  secondary:  #770a0e,
  danger:     #ff0000,
  light:      #fff,
  dark:       #000
);

$size_extrasmall:1.0rem;
$size_small:1.3rem;
$size_normal:1.3rem;
$size_large:1.8rem;
$size_extralarge:2.1rem;

$border-color:#ccc;

$rprimary : #fff;
$rsecondary: #C9C7D3;
$pholder:#666;
$border:#ccc;
$button:#0d47a1;
$loginSignupGradiant:#768fff;

// Cor do header
$toolbar-background: #FAFAFA;


// Manage Menu Style
$menu_bg_color:color($colors, secondary);
$menu_font_color:$rsecondary;
$menu_font_size:$size_normal;
$menu_separator_line_color:#4f0306;
$menu_avatar_bg_color:color($colors, light);
$menu_avatar_font_color:color($colors, dark);
$menu_avatar_text_color:color($colors, light);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// App Theme
@import "ionic.theme.default";
// Ionicons
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
@import "roboto";
@import "noto-sans";
