<div class="content">
    <div class="form-wrapper md-whiteframe-1dp margin-left-25 margin-top-20" flex="95">
        <div class="p-5 border-bottom margin-bottom-20" layout="row" layout-align="space-between center" flex="100">
            <div class="md-title" ng-if="ctrl.isIncluir">Cadastrar paciente</div>
            <div class="md-title" ng-if="ctrl.isEditar">Editar paciente</div>
            <div class="md-title" ng-if="ctrl.isVisualizar">Visualizar paciente</div>

        </div>
        <form name="ctrl.formIncluir" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column flex margin-bottom-20">
                <md-input-container flex>
                    <input type="text" name="nome" placeholder="Nome" ng-model="ctrl.paciente.nome" ng-required="true" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.nome.$error" ng-show="ctrl.formIncluir.nome.$touched || ctrl.formIncluir.$submitted" role="alert">
                            <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="cpf" placeholder="CPF" ng-model="ctrl.paciente.cpf" ng-required="true" mask="999.999.999-99" ng-cpf ng-disabled="ctrl.isVisualizar || ctrl.isEditar ">
                    <div ng-messages="ctrl.formIncluir.cpf.$error" ng-show="ctrl.formIncluir.cpf.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                        <div ng-message="cpf"><span translate="paciente.validacao.form.erro.cpf_invalido"></span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column flex margin-bottom-20">
                <md-input-container flex>
                    <input type="text" name="telefone" placeholder="Telefone" ng-model="ctrl.paciente.telefone" ng-required="false" mask="(99) 9999-9999" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.telefone.$error" ng-show="ctrl.formIncluir.telefone.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="celular" placeholder="Celular" ng-model="ctrl.paciente.celular" ng-required="true" mask="(99) 9?9999-9999" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.celular.$error" ng-show="ctrl.formIncluir.celular.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column flex margin-bottom-20">
                <md-input-container flex>
                    <input type="email" name="email" placeholder="Email" ng-model="ctrl.paciente.email" ng-required="false" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.email.$error" ng-show="ctrl.formIncluir.email.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                        <div ng-message="email"><span translate="paciente.validacao.form.erro.email"></span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <input type="date" name="dataNascimento" placeholder="Data de Nascimento" ng-model="ctrl.paciente.dataNascimento" ng-required="true" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.dataNascimento.$error" ng-show="ctrl.formIncluir.dataNascimento.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column flex margin-bottom-20">
                <md-input-container flex>
                    <input type="text" name="logradouro" placeholder="Logradouro" ng-model="ctrl.logradouro" ng-disabled="true">
                </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column flex margin-bottom-20">
                <md-input-container flex>
                    <input type="text" name="complemento" placeholder="Complemento" ng-model="ctrl.paciente.complemento" ng-required="true" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.complemento.$error" ng-show="ctrl.formIncluir.complemento.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <input type="number" name="numero" placeholder="Número" ng-model="ctrl.paciente.numero" ng-required="false" ng-disabled="ctrl.isVisualizar">
                </md-input-container>
                <md-input-container flex>
                    <input type="text" name="cep" placeholder="CEP"  ng-model="ctrl.paciente.cep" ng-required="true" mask="99999-999" ui-br-cep-mask ng-disabled="ctrl.isVisualizar" ng-blur="ctrl.buscarCep(ctrl.paciente.cep)">
                    <div ng-messages="ctrl.formIncluir.cep.$error" ng-show="ctrl.formIncluir.cep.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row layout-column flex margin-bottom-20"  ng-if="false">
                <md-input-container flex>
                    <input type="text" name="usuario" placeholder="Usuário" ng-model="ctrl.paciente.usuario" ng-required="true" ng-disabled="ctrl.isVisualizar">
                    <div ng-messages="ctrl.formIncluir.usuario.$error" ng-show="ctrl.formIncluir.usuario.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <input type="password" name="senha" placeholder="Senha" ng-model="ctrl.paciente.senha" ng-required="true"  minlength="8" maxlength="15">
                    <div ng-messages="ctrl.formIncluir.senha.$error" ng-show="ctrl.formIncluir.senha.$touched || ctrl.formIncluir.$submitted" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                        <div ng-message="minlength"><span translate="paciente.validacao.form.erro.min"></span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <input type="password" name="senhaConfirme" placeholder="Confirme sua senha" ng-model="ctrl.senhaConfirme" ng-required="ctrl.paciente.senha" minlength="8" maxlength="15" ng-disabled="!ctrl.paciente.senha" ng-blur="ctrl.validarSenha(ctrl.paciente.senha, ctrl.senhaConfirme)">
                    <div ng-messages="ctrl.formIncluir.senhaConfirme.$error" ng-show="ctrl.formIncluir.senhaConfirme.$touched" role="alert">
                        <div ng-message="required"><span translate="paciente.validacao.form.erro.obrigatoriedade"></span></div>
                        <div ng-message="minlength"><span translate="paciente.validacao.form.erro.min"></span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row" layout-align="end" class="layout-gt-xs-row layout-column flex margin-bottom-20">
                <a class="md-red-500-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" ui-sref="app.paciente">
                    <span translate="botao.cancelar">Cancelar</span>
                </a>
                <a class="md-green-500-bg white-text md-raised reference-button md-button md-ink-ripple md-default-theme" ng-click="ctrl.salvar(ctrl.paciente)" ng-if="ctrl.isIncluir || ctrl.isEditar">
                    <span translate="botao.salvar">Salvar</span>
                </a>
            </div>
        </form>
    </div>

</div>
